.container {
    border: 2px solid #000; /* Bordo nero di 2px */
    padding: 10px; /* Spazio interno */
    margin: 10px 0; /* Margine sopra e sotto */
    text-align: left; /* Allinea il testo a sinistra */
    display: flex;
    align-items: flex-start; /* Allinea il testo in alto */
    transition: opacity 0.3s ease; /* Transizione per l'opacità */
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}
